/* -Cristian Mendoza

This file contains CSS code that the index.html file uses in order
to assign different font sizes and styles to elements such as text and
headings within the .html file. It also can be used in other ways such as
setting a background color to the entire page like so:

body {
background-color: #"hex-value of color without quotes"
}

Resources used:
https://www.wikihow.com/Set-Background-Color-in-HTML For learning how to set the background color of a webpage with CSS
https://websitesetup.org/web-safe-fonts-html-css/ For choosing font styles
https://www.w3schools.com/colors/colors_picker.asp For picking a suitable color for the background
*/

body {
background-color: #d9ffb3;
}

h3 {
font-family: garamond;	
}

p {
font-family: Times-New-Romans;
font-size: 16px;	
}

.tnr {
font-family: Times-New-Romans;	
}	

#verdana {
font-family: verdana;
}
